.DogDetails img {
  width: 100%;
}

.DogDetails-card {
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.53),
    9px 19px 25px 10px rgba(0, 0, 0, 0.2);
}

.DogDetails-card img {
  filter: grayscale();

  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.53),
    9px 19px 25px 10px rgba(0, 0, 0, 0.2);
  transition: 0.4s filter ease;
}

.DogDetails-card:hover img {
  filter: none;
}
